.movie{
    opacity: 0;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
    cursor: pointer;
    animation: .75s ease-in slide-in;
    animation-fill-mode: forwards;
}

@keyframes slide-in{
    0%{
        opacity:0;
        transform:translateY(-15px) 
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}